<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <style>
        html {
            overflow: hidden;
        }

        body {
            overflow: hidden;
            padding: 1em;
            margin: 0;
            width: 100%;
            height: 100%;
            background: black;
        }

        #title {
            color: white;
        }

        a {
            color: white;
            margin-bottom: 1em;
        }
    </style>
</head>
<body>
<h1 id="title">Available chat rooms</h1>
<div style="display: flex; flex-direction: column;">
    <a href="/chat/1">Chat room 1</a>
    <a href="/chat/2">Chat room 2</a>
    <a href="/chat/3">Chat room 3</a>
</div>
</body>
</html>